<!DOCTYPE html>
<html>
    <head>
        <title>Matching</title>
    </head>
    <body>
        <div>
            <h2>Profile</h2>
        </div>
        <div>
            <label>Firstname:</label>
            <p id="firstnameID"></p>
        </div>
        <div>
            <label>Lastname:</label>
            <p id="lastnameID"></p>
        </div>
        <div>
            <label>Age:</label>
            <p id="ageID"></p>
        </div>
        <div>
            <label>Gender:</label>
            <p id="genderID"></p>
        </div>
        <button onclick="dislikeUser()">Dislike</button>
        <button onclick="likeUser()">Like</button>
        <script src="Users.js"></script>
    </body>
</html>