<!DOCTYPE html>
<html>
    <head>
        <title>My profile</title>
    </head>
    <body>
        <h1>My profile</h1>
        <br>
        <div>
            <label>Firstname:</label>
            <p id="fName"></p>
        </div>
        <div>
            <label>Lastname:</label>
            <p id="lName"></p>
        </div>
        <div>
            <label>E-mail:</label>
            <p id="e-mail"></p>
        </div>
        <div>
            <label>Date of birth:</label>
            <p id="dot"></p>
        </div>
        <div>
            <label>Gender:</label>
            <p id="gender"></p>
        </div>
        <script src="../Module/Myprofile.js"></script>
    </body>
</html>